[submodule "3rdParty/spdlog"]
	path = 3rdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdParty/asio"]
	path = 3rdParty/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "3rdParty/protobuf"]
	path = 3rdParty/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "3rdParty/magic_enum"]
	path = 3rdParty/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "3rdParty/asbind20"]
	path = 3rdParty/asbind20
	url = https://github.com/HenryAWE/asbind20.git
