[submodule "3rdParty/spdlog"]
	path = 3rdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdParty/asio"]
	path = 3rdParty/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "3rdParty/magic_enum"]
	path = 3rdParty/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "3rdParty/async_simple"]
	path = 3rdParty/async_simple
	url = https://github.com/alibaba/async_simple.git
